.slide-container{
    justify-content: center;
    display: flex;
    width: 100%;
    max-height: 500px;
  
    align-items: center;
}
.btn-login{
 
    text-align: center;
    background-color: #feb800;
    box-shadow: 0 2px 20px rgb(244, 239, 213);
    color: white;
    font-size: 18.005px;
    padding-left: 1.528em;
    padding-right: 1.528em;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 2.778em;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 700;
    margin: 5%;
    margin-bottom: 30%;
    outline: none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-spacing: 6px;
    max-width: 100%;
    line-height: 1.2;
    display: inline-flex;
}